@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

.container {
	display: flex;
	width: 100%;
}

.container>article {
	width: 50%;
	box-sizing: border-box;
}

.axis {
	--c: 10;
	--cx: 5;
	--cy: 5;
	--dsize: 10;
	--dcolor: #369;
	--size: 100%;
	position: relative;
	width: var(--size);
	height: 0;
	padding-top: var(--size);
	box-sizing: border-box;
	aspect-ratio: 1/1;
	background: #e2e8f0;
	border-radius: 10px;
	background-image:
		linear-gradient(#0000 calc(var(--cy) * 100% / var(--c) - 1px),
			#0008 0 calc(var(--cy) * 100% / var(--c) + 1px),
			transparent 0),
		linear-gradient(to right,
			#0000 calc(var(--cx) * 100% / var(--c) - 1px),
			#0008 0 calc(var(--cx) * 100% / var(--c) + 1px),
			transparent 0),
		repeating-linear-gradient(#0002 0 0.5px,
			#0000 0 calc(100% / var(--c) - 0.5px),
			#0002 0 calc(100% / var(--c))),
		repeating-linear-gradient(to right,
			#0002 0 0.5px,
			#0000 0 calc(100% / var(--c) - 0.5px),
			#0002 0 calc(100% / var(--c)));
}

.axis.no-overflow {
	overflow: hidden;
}

.dot {
	--translationUnit: 100% / var(--c);
	--translationX: var(--translationUnit) * var(--cx);
	--translationY: var(--translationUnit) * var(--cy);
	/* Vertical is "flipped" in CSS: higher values go down! Do negative! */
	/* --y: calc(var(--translationY) - var(--translationUnit) * var(--y_coord)); */
	width: calc(var(--dsize) * 1px);
	height: calc(var(--dsize) * 1px);
	background: var(--dcolor);
	border-radius: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
	left: calc(var(--translationX) + var(--x) * var(--translationUnit));
	top: calc(var(--translationY) - var(--y) * var(--translationUnit));
}

/* Demo functions */
#plot_x {
	--size: 350px;
}

#plot_x .dot {
	--function: calc(var(--x));
}

html,
body {
	font-family: Helvetica, Arial, sans-serif;
}

article {
	margin: 30px;
}

/* Tooltip container */
.tooltip {
	/* position: relative; */
	display: inline-block;
	border-bottom: 1px dotted black;
	/* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	font-size: small;

	/* Position the tooltip text */
	position: absolute;
	z-index: 1;
	bottom: 125%;
	left: 50%;
	margin-left: -60px;

	/* Fade in tooltip */
	opacity: 0;
	transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
	content: "";
	position: absolute;
	top: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	opacity: 1;
}

/* Rotary Encoder */
.gauge {
	height: 85px;
	/*overflow: hidden;*/
	position: relative;
	width: 170px;
	margin: auto;
	animation-iteration-count: 1;
}

.gauge .arc {
	background-image:
		radial-gradient(#475569 0, #475569 60%, transparent 60%),
		conic-gradient(red 0,
			#f17323 70deg,
			#af46d5 135deg,
			#4667d5 135deg,
			#19d7fb 180deg,
			#475569 180deg,
			#475569 360deg);
	background-position:
		center center,
		center center;
	background-repeat: no-repeat;
	background-size:
		100% 100%,
		100% 100%;
	border-radius: 50%;
	border-style: none;
	height: 170px;
	position: relative;
	transform: rotate(-90deg);
	width: 100%;
}

.gauge .pointer {
	background: #475569;
	border: 1px solid #000;
	border-radius: 5px;
	bottom: 0;
	content: "";
	height: 6px;
	left: 0;
	position: absolute;
	transform-origin: 85px 0;
	width: 20px;
	z-index: 5;
}

.gauge .mask::before,
.gauge .mask::after {
	background-image: radial-gradient(transparent 0,
			transparent 50%,
			#475569 50%,
			#475569 100%);
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
	content: "";
	height: 18px;
	position: absolute;
	width: 18px;
}

.gauge .mask::before {
	left: -2px;
	bottom: 0;
}

.gauge .mask::after {
	bottom: 0;
	right: -2px;
}

.gauge .label {
	bottom: 20px;
	font-size: 16px;
	font-weight: 700;
	left: 0;
	line-height: 26px;
	position: absolute;
	text-align: center;
	width: 100%;
	color: white;
}
